In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [11]:
df = pd.read_excel("jumlah_penduduk_kota_bandung_berdasarkan_kelompok_umur.xlsx")

In [12]:
df['kategori_umur'] = df['kategori_umur'].str.strip()
df.loc[df['kategori_umur'] == '0-4', 'kategori_umur'] = "0-04"
df.loc[df['kategori_umur'] == "5-9", 'kategori_umur'] = "05-09"

In [16]:
df.groupby(["tahun", "kategori_umur"], as_index=False).agg({"jumlah_penduduk": "sum"})

     tahun kategori_umur  jumlah_penduduk
0     2017          0-04           325538
1     2017         05-09           397701
2     2017         10-14           403470
3     2017         15-19           392798
4     2017         20-24           388360
..     ...           ...              ...
107   2023         55-59           277037
108   2023         60-64           219313
109   2023         65-69           164627
110   2023         70-74           103444
111   2023           75+           110392

[112 rows x 3 columns]

In [19]:
df.to_excel("Jumlah Penduduk Kota Bandung 2017 - 2023 BPS.xlsx", index=False)